.line-chart.svelte-1fcnt4k{display:inline-block;background:white;border-radius:var(--radius-lg);box-shadow:0 1px 3px #0000001a}.chart-canvas.svelte-1fcnt4k{display:block;border-radius:var(--radius-lg)}
